{% extends "layout.html" %}

{% block title %} Registo {% endblock %}

{% block main %}
    <form action="/register" method="post" class="mx-auto" style="max-width: 320px;">
        <h3 class="mb-3">Criar Conta</h3>
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Nome de Utilizador" type="text" required>
        </div>
        <div class="mb-3">
            <input class="form-control" name="password" placeholder="Palavra-passe" type="password" required>
        </div>
        <div class="mb-3">
            <input class="form-control" name="confirmation" placeholder="Confirme a Palavra-passe" type="password" required>
        </div>
        <button class="btn btn-primary w-100" type="submit">Registar</button>
    </form>
{% endblock %}
